html {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #000807;
}
.color-primary {
    color: #3626A7;
}
.bg-offwhite {
    background-color: #FBFBFF;
}
a {
    color: #3626A7;
}
a:hover {
    color: #657ED4;
}
.side-list {
    list-style: none;
}
.side-list > li { 
    list-style-image: url("../images/next.svg");
} 
.fa {
    margin-right: 5px;
    padding: 5px 5px 5px 0px; 
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    text-decoration: none;
}
.btn:focus {
    box-shadow: none;
}
a.btn-gradient {
    display: inline-flex;
    align-items: center;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(130deg, #048BA8, #3626A7);
    background-origin: border-box;
    background-clip: content-box, border-box;
}  
a.btn-gradient:hover {
    opacity: 0.8;
    color: white;
}  
.badge-main {
    background-color: #657ED4;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(190deg, #468990, #657ED4);
    color: #FBFBFF;
}
.btn-outline-main {
    color: #657ED4;
    background-color: #ffffff;
    border-color: #657ED4;
}
.btn-outline-main:hover,
.btn-outline-main:active,
.btn-outline-main:focus,
.btn-outline-main.active {
    background: #657ED4;
    color: #ffffff;
    border-color: #657ED4;    
}
.section-title {
    position: relative;
    overflow: hidden;
}
.section-title::after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #3626A7;
}
.side-bar {
    position: fixed; 
    z-index: 99;
}
.nav-bar {
    position: fixed; 
    right: 0rem;
    z-index: 10;
}
@media (max-width: 767.98px) {
    .side-bar {
        position: relative; 
        z-index: 99;
    }
    .nav-bar {
        position: relative;
    }
}