* {
	font-family: 'Montserrat', sans-serif;
}
.bg {
	background: url('../images/banner.png'), rgba(0,0,0,0.3); 
	height: 100vh; 
	width: 100vw; 
	overflow: hidden; 
	background-repeat: no-repeat; 
	background-size: cover; 
	color: white;	
	background-blend-mode: multiply;
}

@media (max-width: 1199.98px) {

	.bg {
		background-position: -900px;
	}
	
}

@media (max-width: 575.98px) {

	.bg {
		background-position: -700px;
	}

}